@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
    margin: 0px;
    box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/** background */
main {
    min-height: 70vh;
    background-position: center top;
    background-size: contain;
    animation: 10s linear 1s infinite forwards bganimate;
    background-repeat: no-repeat;
    background-position: fixed;
}

body {
    background-color: rgb(168, 168, 168);
    background-size: contain;
    background-position: fixed;
    overflow-x: hidden;
}

/** scrollbar */
:is(body, .aside)::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
}

:is(body, .aside)::-webkit-scrollbar-track {
    background: lightblue; /* color of the tracking area */
}

:is(body, .aside)::-webkit-scrollbar-thumb {
    background-color: darkblue; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 2px solid white; /* creates padding around scroll thumb */
}

/** loader */
.loader {
    position: fixed;
    height: 100vh;
    overflow-y: hidden;
    z-index: 2000;
    width: 100vw;
    background-color: black;
    background-repeat: no-repeat;
    background-size: 500px 500px;
    background-position: center center;
    background-image: url("../public/images/luxury.jpg");
    background-attachment: fixed;
}

/** sidebar animation */
@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.nav {
    animation: slideIn 2s ease-in-out 0.5s;
}

@keyframes bganimate {
    0% {
        background-image: url("../public/images/luxury.jpg");
    }
    50% {
        background-image: url("../public/images/chain.jpg");
    }
    100% {
        background-image: url("../public/images/privacy.jpg");
    }
}

* {
    transition: all 1s;
}
